@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
    Desktop First Media Query Breakpoints
    0 - 600 phone
    600 - 900 tablet
    900 - 1200 tablet-landscape
    1200 - 1800 desktop
    1800 - big-desktop
*/
@mixin breakpoint($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 60em) {
            @content;
        }
    }
    @if $breakpoint == tablet {
        @media (max-width: 90em) {
            @content;
        }
    }
    @if $breakpoint == tablet-landscape {
        @media (max-width: 120em) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 180em) {
            @content;
        }
    }
}
